# **Trabalho 1 - PLN**
## **Parte 2**

#### Importando as bibliotecas

In [1]:
import pandas as pd

#### Carregando o _dataset_

In [6]:
data = pd.read_csv('dataset.ptbr_harem.csv', delimiter=';')
data.head()

,SENTENCE_ID,RELATION_ID,SENTENCE,ARGUMENT_1,ARGUMENT_1_CATEGORY,RELATION,ARGUMENT_2,ARGUMENT_2_CATEGORY
0,3,1,"Marcelo_Tejedor, paleontólogo de a Universidad...",Marcelo_Tejedor,PER,1,Universidade_Nacional_da_Patagônia,ORG
1,4,3,Esse é um alvo viável para remédios contra a o...,John_Clapham,PER,1,Smith_Kline_Beecham,ORG
2,9,2,Um grupo que reúne 13 sociedades científicas n...,Associação_Nacional_de_Biossegurança,ORG,7,ANBio,ORG
3,10,1,"Primeiro, pede que a CTNBio (Comissão_Técnica_...",CTNBio,ORG,7,Comissão_Técnica_Nacional_de_Biossegurança,ORG
4,11,1,A idéia foi lançada por o ministro_Roberto_Ama...,ministro_Roberto_Amaral,PER,2,Ciência_e_Tecnologia,ORG

#### Carregando as relações definidas

In [7]:
relations = pd.read_csv('relations.csv', delimiter=';')
relations

,relation_id,relation_name,relation_tuples
0,1,trabalha em,"(PER,ORG),(ORG,ORG),(ORG,PLC)"
1,2,trabalha com,"(PLC, ORG),(ORG, ORG),(ORG, PER),(PER, ORG)"
2,3,pertence a/ao,"(PER, ORG),(ORG, ORG),(ORG, PLC)"
3,4,é localizada(o) em,"(ORG, ORG),(ORG, PLC),(PER, PLC)"
4,5,é o local de,"(PLC, ORG),(ORG, ORG),(ORG, PLC)"
5,6,é fundada(o) por,"(ORG, PER)"
6,7,sigla,"(ORG, ORG)"
7,8,está relacionada(o) com,ALL

#### **Definindo as regras**